## Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [24]:
def next_in_line(l,n):
    new_l = l[1::]
    new_l.append(n)
    return new_l

In [25]:
next_in_line([3,4,5],6)

[4, 5, 6]

## Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [42]:
def get_budgets(d):
    s = 0
    for i in d:
        s = s + i['budget']
    return s

In [43]:
get_budgets([{'name': 'John', 'age': 21,'budget': 23000 },
{ 'name': 'Steve', 'age': 32,'budget': 40000 },
{ 'name': 'Martin','age': 16, 'budget': 2700 }])

65700

## Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

In [50]:
def alphabet_soup(a):
    return "".join(sorted(a))

In [51]:
alphabet_soup('hello')

'ehllo'

## Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.

In [58]:
def compound_interest(p,t,r,n):
    interest = p*(1+(r/n))**(n*t)
    return round(interest,2)

In [59]:
compound_interest(10000,10,0.06,12)

18193.97

## Question5
Write a function that takes a list of elements and returns only the integers.

In [62]:
def return_only_integer(l):
    r = []
    for i in l:
        if  type(i) == int :
            r.append(i)
    return r

In [63]:
return_only_integer([3,'Rahul','Aditya',8,3])

[3, 8, 3]